<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bluedot.bluedot_vale">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Vista_perfil_visitante"></activity>
        <activity android:name=".ListaRechazadosActividad" />
        <activity android:name=".ListaApuntadosActividad" />
        <activity android:name=".ModificarActividad" />
        <activity android:name=".ChatActividades" />
        <activity android:name=".AgregarActividad2" />
        <activity android:name=".Menu_tutor" />
        <activity android:name=".Autorizacion" />
        <activity android:name=".ListaAutorizaciones" />
        <activity android:name=".AgregarPeticion" />
        <activity android:name=".VistaPeticion" />
        <activity
            android:name=".Peticiones"
            android:label="@string/title_activity_peticiones"
            android:theme="@style/NoActionBar" />
        <activity android:name=".VistaActividad" />
        <activity android:name=".Login" />
        <activity android:name=".Lista_actividades" />
        <activity android:name=".Submenu_Actividades" />
        <activity android:name=".Mis_actividades" />
        <activity android:name=".Principal" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgregarActividad" />
        <activity android:name=".PerfilUsuario" />
    </application>

</manifest>